    <p>
        <%= message %>
    </p>
    <% if(team) { %>

        <h3>Maak kennis met ons team</h3>
        <ul class="dinos">
            <% team.forEach(dino=> { %>
                <li>
                    <%= dino %>
                </li>
                <% }); %>
        </ul>
        <% } %>